*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GlacialIndifference-Regular", Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;
    text-decoration: none;

    letter-spacing: 0.02em;
}

@font-face {
    font-family: GlacialIndifference-Regular;
    src: url("../fonts/GlacialIndifference-Regular.otf");
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

ul li{
    list-style: none;
    padding: 0;
}

h1, .fnt-lrg{
    font-size: 2em;
}

h2, h3{
    color: #868484;
}

h2, .fnt-mdm{
    font-size: 1.5em;
}

h3{
    font-size: 1em;
}

p, a {
    font-size:1.2em;
    word-break: break-word;
}

p{
    padding: 30px 0;
}
