.main-wrapper{
    display: flex;
    flex-direction: column;
}

.banner-contents{
    display: flex;
    flex-direction: column;
    background: url("../img/Pain-Splash_2.jpg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 60vh;
}

.prologue-container{
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    margin-top: 100px;
}

.prologue-container > h1{
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 0 0 1px #AAAAAA;
}

.social-tab{
    margin-top: 50px;
}

.social-tab > ul > li{
    padding-right: 10px;
    display: inline-block;
}

.social-tab > ul > li > a > img{
    width: 40px;
    height: 40px;
}

.information-container{
    display: flex;
}

.about-container{
    background-size: contain;
    background: #FFFFFF url("../img/about.jpg") no-repeat bottom;
    background-size: contain;
    display: flex;
    height: 100vh;
}

.about-container > div:first-child{
    display: none;
}

.about-container > div > img{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    padding: 6px;
    border: 1px solid #AAAAAA;
}

.intro-container{
    display: flex;
    flex-direction: column;
}

.about-container > div,
.experience-container > div,
.projects-container > div,
.more-about-me-container > div,
.contact-me-container > div
{
    padding: 20px 50px;
}

.lnk-btn
{
    background: #28262B;
    padding: 10px 20px;
    border-radius: 5px;
    color: #AAAAAA;
}

.experience-container,
.projects-container,
.more-about-me-container,
.contact-me-container
{
    padding: 50px 0;
}

.projects-container,
.contact-me-container
{
    background: #EEEEEE;
}

.contact-me-container > div > div{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.contact-me-container > div > div > img{
    width: 40px;
    height: 40px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {

    .banner-contents{
        background: #28262B;
        position: relative;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .prologue-container{
        margin: 0;
        flex-direction: row;
        justify-content: center;
    }

    .prologue-container > h1{
        text-shadow: 0 0 1px #000000;
    }

    .about-container{
        background: none;
        display: flex;
        align-items: center;
        padding: 50px;
    }

    .about-container > div:first-child{
        display: inherit;
    }

    .about-container > div > img{
        width: 260px;
        height: 260px;
    }

    .intro-container{
        display: flex;
    }

    .about-container,
    .experience-container,
    .projects-container,
    .more-about-me-container {
        height: 100vh;
    }
    .about-container,
    .projects-container > div,
    .more-about-me-container > div
    {
        padding: 20px 20%;
    }

    .experience-container{
        display: flex;
        padding: 50px;
        gap: 40px;
    }

    .experience-container > div{
        padding: 50px;
        border-radius: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    }


    .footer{
        align-items: flex-start;
    }

}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}